body{
    margin:0;
    padding:0;
    background-color: #FFD0D0;
    color:gray;
}


.montserrat-one {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img{
    display:block;
    width:100%;
    border-radius:0.5rem;
    height:30rem;
    object-fit: cover;
}

.section-center{
    width:90vw;
    margin:0 auto;
    max-width: 1170px;
    min-width: 340px;
    padding:5rem 0;
}

.tabs{
    background-color: #FF9EAA;
    border-radius: 0.5rem;
    grid-template-rows: auto;
}

.btn{
    padding:1rem 0;
    border:none;
    font-size: 1rem;
    background-color: #F9F9E0;
    cursor:pointer;
    transition: all 0.3s linear;
    letter-spacing: 0.25rem;
}

.btn-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btn-container>:nth-child(1){
    border-top-left-radius: 0.5rem;
}
.btn-container>:nth-child(3){
    border-top-right-radius: 0.5rem;
}

.btn:hover:not(.live){
    background-color: #FFD0D0;
    color:white;
}

.tabs-content{
    padding:2rem 1.5rem;
}
@media (min-width:992px){
    .img{
        margin-bottom:0;
    }
    .section-center{
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

}

.content{
    display:none;
}

.content.live{
    display: block;
}

.btn.live{
    background-color: #FFD0D0;

}